@import "mycss/login.css";
@import "mycss/register.css";
@import "mycss/self.css";
@import "mycss/userManage.css";
@import "mycss/category.css";
@import "mycss/clothes.css";
@import "mycss/suit.css";


*{
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
}

#banner {
    position: relative;
    height: 5vh;
    width: 100%;
    min-width: 1200px;
    min-height: 50px;
    background-color: rgb(22, 110, 134);
    background-image: url("../images/ui/btGlass.png");
    background-repeat: round;
    background-size: cover;
}

#workspace {
    width: 100%;
    min-width: 1000px;
    background-color: rgb(109, 160, 173);
    background-image: url("../images/ui/workspace.png");
    background-size: 100%; /* 澧炲姞鑳屾櫙鍥惧儚灏哄浠ュ绾冲彸鍗婅竟 */
    background-position: right; /* 璁剧疆鑳屾櫙鍥惧儚浣嶇疆涓哄彸渚� */
    height: 95vh;
    min-height: 800px;
}



#user {
    top: 20%;
    width: 15%;
    height: 100%;
    font-size: calc(0.7vw + 10px);
    position: absolute;
    right: 5vw;
}

#banner-img img {
    height: 100%;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
}

#menu {
    top: 5%;
    /*background-color: antiquewhite;*/
    height: 45px;
    width: 1100px;
    position: absolute; /* 鍥哄畾瀹氫綅 */

    left: 50%; /* 灞呬腑 */
    transform: translateX(-50%); /* 浣垮叾鍦ㄦ按骞虫柟鍚戜笂灞呬腑 */

    display: flex;
    justify-content: space-around;

}

#menuBorder{
    position: relative;
    /*background-color: coral;*/
    height: 50px;
    width: 100%;
    background-color: rgb(0, 111, 147);
    background-image: url("../images/ui/subTitle.png");
    background-repeat: round;
    background-size: cover;
}



.menuItem {
    border-radius: 30px; /* 璁剧疆鍦嗚鍗婂緞锛屾牴鎹渶瑕佽皟鏁� */
    /*background-color: aqua;*/
    width: 130px;
    position: relative;
    border-style: solid;
    border-width: 1.5px;
    border-color: #575757;
}
.menuItem-a{
    width:100%;
    height: 100%;
}

.menuItem:hover{
    border-radius: 30px; /* 璁剧疆鍦嗚鍗婂緞锛屾牴鎹渶瑕佽皟鏁� */
    /*background-color: aqua;*/
    width: 130px;
    position: relative;
    border-style: solid;
    border-width: 1.5px;
    border-color: #525256;
    box-shadow: #000000 0px 0px 10px;

}


.menuItemActivate {
    border-radius: 30px; /* 璁剧疆鍦嗚鍗婂緞锛屾牴鎹渶瑕佽皟鏁� */
    /*background-color: aqua;*/
    width: 130px;
    position: relative;
    border-style: solid;
    border-width: 1.5px;
    border-color: #525256;
    box-shadow: #000000 0px 0px 10px;
    background-image: url("../images/ui/subTitle.png");
    background-color: #a0f3ec;
    background-repeat: round;
    background-size: cover;
}

.menuItem-text{
    float: right;
    font-size: 16px;
    top: 50%;
    margin-right: 5%;
    transform: translate(0,40%);
    color: black;
    font-weight: bolder;
}
.menuItem-img {

    position: absolute;
    left: 5%;
    top: 3%;

    height: 40px;
    width: 40px;
}
.menuItem-img img{
    width:100%;
    height: 100%;
}

#closeAlert{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 5px;

    background-color: transparent;
    color: #000000;
    cursor: pointer;
}

#centeredConfirm button {
    margin: 0 10px;
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirm {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

#confirm:hover{
    background-color: transparent;
    color: #00c541;
    font-weight: bold;
}

#cancel {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
}

#cancel:hover{
    background-color: transparent;
    color: #00d73f;
    font-weight: bold;
}

#paginationContainer {
    position: absolute;
    margin: 10px; /* 璋冩暣姝ゅ�间互鎺у埗涓庤〃鐨勫瀭鐩撮棿璺� */
    left: 50%;
}

.pageBtn {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: rgba(32, 166, 133, 0.6) url("../images/ui/glass.png");
    color: black; /* 鏂囧瓧棰滆壊涓虹櫧鑹� */
    padding: 4px 5px; /* 璋冩暣鎸夐挳鍐呰竟璺濓紝浠ユ帶鍒堕暱搴﹀拰瀹藉害 */
    margin: 1px; /* 璋冩暣鎸夐挳涔嬮棿鐨勯棿璺� */
}

.pageBtn:hover {
    background: rgba(180, 175, 32, 0.8); /* 榧犳爣鎮仠鏃剁殑棰滆壊 */
}